.header{
    background-color:#312e2e;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header a{
    color: white;
    text-decoration: none;
  }
  
  .header ol{
    display: flex;
    height: inherit;
  }
  .header ol li{
    height: inherit;
  }
  .header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
  }
  .menu{
    height: inherit;
  }

  .container{
    max-width:1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
   }